.carousel-img1,
.carousel-img2 {
  height: 400px;
  object-fit: cover;
}

.carousel-img1 {
  object-position: 0 80%;
}

.title-font {
  font-family: 'Pacifico', cursive;
}

.title-color {
  color: darkred;
}

.button-background {
  color: white;
  background-color: darkred;
}

.card-border {
  border-color: darkred;
}