.carousel-img1,
.carousel-img2 {
  height: 400px;
  object-fit: cover;
}

.carousel-img1 {
  object-position: 0 80%;
}

.title-font {
  font-family: 'Pacifico', cursive;
}

.main-color {
  color: darkred;
}