.carousel-img1,
.carousel-img2 {
  height: 400px;
  object-fit: cover;
}

.carousel-img1 {
  object-position: 0 80%;
}

.title-font {
  font-family: 'Pacifico', cursive;
}

.title-color {
  color: darkred;
}

.button-background {
  color: white;
  background-color: darkred;
}

.button-background:hover {
  color: whitesmoke;
  background-color: #8b0000d3;
}

.card-size {
  max-width: 18rem;
}

.card-border {
  border-color: darkred;
}

.card-img-position {
  object-fit: cover;
  height: 200px;
}